*{
    margin: 0;
    padding: 0;
    }
    body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font:bold 12px Arial, Helvetica, sans-serif;
    background-color: #0c1737;
    }
    .clock{
    border: 1px solid #182a48;
    color: white;
    padding: 40px;
    border-radius: 10px;
    background-color: #182a48;
    }
    #Date{
    font-size: 20px !important;
    text-align: center;
    }
    .clock ul{
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 15px;
    }
    @media screen and (max-width: 1150px) {
        .clock{
            border: 1px solid #182a48;
            color: white;
            padding: 40px;
            border-radius: 5px;
            background-color: #182a48;
            }

            #Date{
                font-size: 10px;
                text-align: center;
                }
                
            .clock ul{
                list-style: none;
                display: flex;
                font-size: 60px;
                gap: 15px;
                }   
    }